:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-button: #f5f4fa;
  --address--: #ffffff99;
}

body {
  background-color: E5E5E5;
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
  font-style: normal;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* голубой цвет #2196F3 */

/* site nav */
.site-nav .link {
  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.link-list:hover,
.link-list:focus {
  color: var(--accent-color);
}

/*Logo*/
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.iteam {
  color: var(--primary-text-color);

  font-family: Oleo Script, sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

/* auth nav */
.auth-nav .link {
  color: var(--title-text-color);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.link-list {
  color: var(--title-text-color);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

/* Hero */
.hero-title {
  color: var(--white-color);
  background-color: #2f303a;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title {
  color: #212121;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.section-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.section-team .text {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}

.button-second {
  color: var(--primary-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.button-second:hover,
.button-second:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.project {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.work {
  color: var(--title-text-color);

  font-size: 16px;
  line-height: 1.88;
}

.portfolio {
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
  color: var(--white-color);
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.logos {
  color: var(--white-color);

  font-family: Oleo Script, sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

.address {
  color: var(--address--);
  text-decoration: none;
}
